@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');
@import url('https://fonts.cdnfonts.com/css/general-sans');

html,
body,
:root {
    height: 100%;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  }

  /* styles.css */
/* 
input[type="radio"]:checked {
    content: "\2022"; 
    display: inline-block;
    width: .5em;
    height: .5rem;
    margin-right: 0.5em;
    color: purple; 
    font-size: 1em;
    line-height: 1;
} */

/*
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    display: inline-block;
    width: .5em;
    height: .5em;
    border-radius: 100%;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    margin-right: 0.5em;
}

input[type="radio"]:checked {
    border-color: purple;
    background-color: white;
}

input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background-color: purple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/